:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #f5f5f5;
  --secondary-bg-color: #2f303a;
  --team-bg-color: #f5f4fa;
  --white-transp: rgba(255, 255, 255, 0.6);
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  padding-left: 0;
}

.link {
  text-decoration: none;
  padding-left: 0;
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
}

.logo {
  color: var(--primary-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.footer .logo.secondary {
  color: var(--primary-white-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo span {
  color: var(--accent-color);
}

/* Header */
.site-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.link.secondary {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.list .link:hover,
.list .link:focus {
  color: var(--accent-color);
}

/* Hero */
.hero {
  background-color: var(--secondary-bg-color);
  letter-spacing: 0.06em;
  text-align: center;
}

.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
}

.hero-btn {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
}

.hero-btn:hover,
.hero-btn:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* Особливості */
.features-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features .features-text {
  color: var(--secondary-text-color);
}

/* Чим ми займаємося */
.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* Наша команда */
.team {
  background-color: var(--team-bg-color);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-item {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* Портфоліо */
.filters {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}

.filters-item:hover,
.filters-item:focus,
.filters-item.current {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

.project-name {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-type {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.88;
}
/* Footer */
.footer {
  background-color: var(--secondary-bg-color);
  font-size: 14px;
  line-height: 1.71;
}

.footer .address {
  color: var(--primary-white-color);
  font-style: normal;
}

.contact {
  color: var(--white-transp);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
