 :root {
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;

  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --dark-bg-color: #2f303a;
  --light-bg-color: #f5f4fa;
  --white-transp: rgba(255, 255, 255, 0.6);

  --icons-main: #afb1b8;
  --overlay: rgba(47, 48, 58, 0.4);

  --items: 3;
  --indent: 30px;

  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  margin: 0;
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family: var(--main-font);
  letter-spacing: 0.03em;
}

.container {
  margin-left: auto;
  margin-right: auto;

  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
}

/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.link {
  display: inline-block;
  padding-left: 0;
  text-decoration: none;
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* reset end */

.btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.06em;

  cursor: pointer;
  color: var(--white-color);
  background-color: var(--accent-color);
  
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color var(--animation), box-shadow var(--animation);
}

.btn:hover,
.btn:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section:nth-child(3) {
  padding-top: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Logo */
.logo {
  display: inline-block;

  color: var(--primary-text-color);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo--inverse {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--white-color);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo--accent {
  color: var(--accent-color);
}

/* Header */
.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  position: relative;
  display: flex;
  margin-left: 93px;
  align-items: center;
  gap: 50px;
}

.nav__item {
  position: relative;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  transition: color var(--animation);
}

.nav__link:hover,
.nav__link:focus {
  color: var(--accent-color);
}

.nav__link--current {
  position: relative;
  color: var(--accent-color);
}

.nav__link--current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;

  transform: scaleX(0);
  opacity: 0;
  display: block;
  width: 100%;
  height: 4px;

  border-radius: 2px;

  background-color: var(--accent-color);

  transition: opacity var(--animation), transform var(--animation);
}

.nav__link--current:hover::after,
.nav__link--current:focus::after {
  opacity: 1;
  transform: scaleX(1);
}

.hd-contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 50px;
}

.hd-contacts__link {
  transition: color var(--animation);
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.hd-contacts__link:hover,
.hd-contacts__link:focus {
  color: var(--accent-color);
}

.hd-contacts__icon {
  fill: currentColor;
}

/* Hero */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  letter-spacing: 0.06em;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-color: var(--dark-bg-color);
}

.hero__title {
  margin: auto;
  margin-bottom: 30px;
  max-width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-transform: uppercase;

  color: var(--white-color);
}

.hero__btn {
  padding: 8px 32px;
  min-width: 216px;
}

/* Особливості */
.features__list {
  display: flex;

  margin-left: calc(-1 * var(--indent));
  margin-top: calc(-1 * var(--indent));
}

.features__item {
  flex-basis: calc(100% / 4 - var(--indent));
  margin-left: var(--indent);
  margin-top: var(--indent);
}

.features__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;

  background-color: var(--light-bg-color);
}
.features__title {
  margin-bottom: 10px;

  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features__description {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

/* Чим ми займаємося */
.activities__title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.activities__list {
  display: flex;
  margin-left: calc (-1 * var(--indent));
  margin-top: calc (-1 * var(--indent));
}

.activities__item {
  position: relative;
  flex-basis: calc (100% / var(--items) - var(--indent));
  margin-left: var(--indent);
  margin-top: var(--indent);
}

.activities__overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 70px;
  bottom: 0;

  background: rgba(47, 48, 58, 0.8);
}

.activities__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
}

/* Наша команда */
.team {
  background-color: var(--light-bg-color);
}

.team__title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.team__cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--indent));
  margin-top: calc(-1 * var(--indent));
}

.team__items {
  flex-basis: calc(100% / 4 - var(--indent));
  margin-left: var(--indent);
  margin-top: var(--indent);

  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-member {
  max-width: 270px;
}

.team-member__info {
  padding: 30px 32px;
}

.team-member__name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-member__position {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icons-main);
  background-color: var(--white-color);

  transition: color var(--animation), background-color var(--animation);
}

.socials__link:hover,
.socials__link:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.socials__icon {
  fill: currentColor;
}

/* Наші клієнти */
.clients__title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.clients__list {
  display: flex;
  text-align: center;
  margin-left: calc(-1 * var(--indent));
  margin-top: calc(-1 * var(--indent));
}

.clients__item {
  flex-basis: calc(100% / 6 - var(--indent));
  margin-left: var(--indent);
  margin-top: var(--indent);
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  color: var(--icons-main);
  background-color: var(--white-color);
  border: 1px solid var(--icons-main);
  border-radius: 4px;

  transition: color var(--animation), border-color var(--animation);
}

.clients__link:hover,
.clients__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients__icon {
  fill: currentColor;
  width: 106px;
  height: 60px;
}

/* Портфоліо */
.filters__list {
  color: var(--primary-text-color);
  background-color: var(--white-color);
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filters__item:not(:last-child) {
  margin-right: 8px;
}

.filters__btn {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  border-radius: 4px;
  border: none;
  background-color: var(--light-bg-color);

  cursor: pointer;

  transition: color var(--animation), background-color var(--animation), box-shadow var(--animation);
}

.filters__btn:hover,
.filters__btn:focus,
.filters__btn--current {
  color: var(--white-color);
  background-color: var(--accent-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--indent));
  margin-top: calc(-1 * var(--indent));
}

.projects__item {
  flex-basis: calc(100% / var(--items) - var(--indent));
  margin-left: var(--indent);
  margin-top: var(--indent);
}

.project__link {
  transition: box-shadow var(--animation);
}

.project__link:hover,
.project__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__thumb {
  position: relative;
  overflow: hidden;
}

.project__overlay {
  position: absolute;
  top: 0;
  left: 0;

  transform: translateY(100%);
  opacity: 0;

  width: 100%;
  height: 100%;
  padding: 63px 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
  line-height: 1.56;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
  backdrop-filter: blur (2px);

  transition: transform var(--animation), opasity var(--animation);
  user-select: none;
}

.project__link:hover .project__overlay {
  transform: translateY(0);
  opacity: 1;
}

.project__text {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.project__name {
  margin-bottom: 4px;

  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project__type {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

/* Footer */
.footer {
  display: flex;
  align-items: baseline;
  background-color: var(--dark-bg-color);
  font-size: 14px;
  line-height: 1.71;
}

.footer__container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 60px;
}

/* Контакти */

.footer__address {
  margin-bottom: 9px;
  color: var(--white-color);
  font-style: normal;
}

.ft-contacts__item {
  margin-bottom: 9px;
}

.ft-contacts__link {
  color: var(--white-transp);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color var(--animation);
}

.ft-contacts__link:hover,
.ft-contacts__link:focus {
  color: var(--accent-color);
}

/* Соціальні мережі */

.ft-socials__title {
  margin-bottom: 20px;

  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.ft-socials__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.ft-socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);

  transition: color var(--animation), background-color var(--animation);
}

.ft-socials__link:hover,
.ft-socials__link:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.ft-socials__icon {
  fill: currentColor;
}

/* Підписка */
.ft-subscribe {
  position: relative;
  width: 570px;
}

.ft-subscribe__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;

  color: var(--white-color);
}

.ft-subscribe__form {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
}

.ft-subscribe__email-field {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  width: 358px;
  padding: 14px 16px;

  color: var(--white-color);
  outline: unset;
  background-color: transparent;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  transition: border-color var(--animation);
}

.ft-subscribe__email-field:hover,
.ft-subscribe__email-field:focus {
  border-color: var(--accent-color);
}

.ft-subscribe__email-field::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.ft-subscribe__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 28px;
  min-width: 200px;
  gap: 10px;
}

.ft-subscribe__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ft-subscribe__icon-send {
  fill: currentColor;
}

/* Modal window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(1px);

  transition: opacity var(--animation), visibility var(--animation);
  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.3);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-height: 581px;
  min-width: 528px;

  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);

  transition: transform var(--animation);
}

.modal__close-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  right: 8px;
  top: 8px;

  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: color var(--animation);
}

.modal__close-btn:hover,
.modal__close-btn:focus {
  color: var(--accent-color);
}

.modal__icon-close-btn {
  fill: currentColor;
}

.modal__form {
  padding: 40px;
}

.modal__title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}


.modal__form-group {
  margin-bottom: 20px;
}

.modal__form-wrapper {
  position: relative;
  margin-bottom: 10px;

  transition: fill var(--animation), outline-color var(--animation);
}

.modal__form-wrapper:hover,
.modal__form-wrapper:focus {
  fill: var(--accent-color);
}

.modal__form-wrapper:hover .modal__form-field {
  outline-color: var(--accent-color);
}

.modal__form-label {
  display: block;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--secondary-text-color);

  margin-bottom: 4px;
}

.modal__form-field {
  width: 100%;
  height: 40px;
  padding-left: 40px;
  padding-right: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: 1px solid transparent;
  outline-offset: -1px;
  transition: outline-color var(--animation);
}

.modal__form-field:hover,
.modal__form-field:focus {
  outline-color: var(--accent-color);
}

.modal__form-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(-50% -50%);
}

.modal__form-comment {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: 1px solid transparent;
  outline-offset: -1px;
  transition: outline-color var(--animation);

  resize: none;
}

.modal__form-comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal__form-comment:hover,
.modal__form-comment:focus {
  outline-color: var(--accent-color);
}

.modal__form-policy {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;
}

.modal__form-checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  font-size: 14px;
  line-height: 1.71;

  color: var(--secondary-text-color);
  user-select: none;
}

.modal__unchecked {
  opacity: 1;
}

.modal__form-checkbox:checked + .modal__form-policy-icon .modal__unchecked {
  opacity: 0;
}

.modal__checked {
  opacity: 0;
}

.modal__form-checkbox:checked + .modal__form-policy-icon .modal__checked {
  opacity: 1;
}

.modal__checkbox-link {
  color: var(--accent-color);
  text-underline-offset: 3px;
}

.modal__form-btn {
  display: block;
  padding: 10px 52px;
  margin: 0 auto;
} 