// utils styles
@import './utils/variables';
@import './utils/visually-hidden';
@import './utils/placeholders';

// base styles
@import './base/base';
@import './base/reset';

// components styles
@import './components/container';
@import './components/btn';
@import './components/logo';
@import './components/header';
@import './components/nav';
@import './components/hero';
@import './components/features';
@import './components/activities';
@import './components/team';
@import './components/socials';
@import './components/clients';

@import './components/portfolio-filters';
@import './components/portfolio-cards';

@import './components/footer';
@import './components/modal';