.btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-decoration: none;
    text-align: center;
    letter-spacing: 0.06em;

    cursor: pointer;
    color: var(--white-color);
    background-color: var(--accent-color);

    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition: background-color var(--animation), box-shadow var(--animation);

    &:hover,
    &:focus {
        background-color: #188ce8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}