.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 14px;
  line-height: 1.71;

  background-color: var(--dark-bg-color);

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}

.footer__container {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

/* Контакти */
.footer__wrapper {
  @media screen and (max-width: 1199px) {
    text-align: center;
    margin-bottom: 60px;
  }
}

.footer__address {
  margin-bottom: 8px;
  color: var(--white-color);
  font-style: normal;
}

.ft-contacts {
  @extend %list;
}

.ft-contacts__item {
  margin-bottom: 8px;
}

.ft-contacts__link {
  color: var(--white-transp);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color var(--animation);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

/* Соціальні мережі */
.ft-socials {
  @media screen and (max-width: 1199px) {
    text-align: center;
    margin-bottom: 60px;
  }
}

.ft-socials__title {
  margin-bottom: 20px;

  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.ft-socials__list {
  @extend %list;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.ft-socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);

  transition: color var(--animation), background-color var(--animation);

  &:hover,
  &:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
  }
}

.ft-socials__icon {
  fill: currentColor;
}

/* Підписка */
.ft-subscribe {
  @media screen and (max-width: 767px) {
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    position: relative;
    width: 570px;
  }
}

.ft-subscribe__title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  color: var(--white-color);

  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}

.ft-subscribe__form {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}

.ft-subscribe__email-field {
  margin-bottom: 20px;
  padding: 14px 16px;
  width: 450px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: var(--white-color);
  outline: unset;
  background-color: transparent;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  transition: border-color var(--animation);

  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-bottom: 0px;
  }

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}

.ft-subscribe__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 28px;
  min-width: 200px;
  gap: 10px;
}

.ft-subscribe__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ft-subscribe__icon-send {
  fill: currentColor;
}
