h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.link {
    display: inline-block;
    padding-left: 0;
    text-decoration: none;
    color: var(--primary-text-color);
    letter-spacing: 0.02em;
}

// .list {
//     list-style: none;
//     padding: 0;
//     margin: 0;
// }

.img {
    display: block;
    max-width: 100%;
    height: auto;
}